* {
  margin: 0;
  padding: 0;
}

body {
  background-color: darkblue;
}

header{
 display: flex;
 justify-content: center;
 padding-top: 20px;
 padding-bottom: 20px;
 font-size: 3rem;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.adicionar-container {
  padding-top: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.pesquisa-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding-top: 20px;
}

.readAllTarefas {
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
  padding: 10px;
  border-radius: 10px;
}

.map-container {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 2rem;
}

.geral {
  min-height: 500px;
  min-width: 720px;
  width: 90vw;
  border: solid 1px black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}

.container-botoes{
  font-size: 2rem;
}

input {
  font-size: 2rem;
}

button {
  font-size: 2rem;
}